//color scheme https://coolors.co/app/464655-82d173-db504a-66b3ba-2274a5
	
body{
	background: #464655 !important;
}

h1{
  color: #82D173;
}

h2{
  color: #82D173;
}

h3{
  color: #82D173;
}

h4{
  color: #82D173;
}
  
.navbar{
	margin: 10px;
}

.ngviewContainer {
    padding-left: 0px !important;
}

#askQuestionButton 
	float: right

#logout_btn:hover
	cursor:pointer

/*LogIn*/
#textForm {
	max-width: 50%;
  	margin: auto;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.past_timesheet_container{
	margin: 0 auto; 
	max-width: 80%;
}

.timesheet_small_view{
	height: 150px;
	text-align: center;
	background-color: white;
	opacity: 0.6;
	border: 2px solid rgba(255,255,255, 0.0);
	border-radius:5px;
	margin: 10px;
}

.timesheet_small_view:hover{
	cursor: pointer;
	opacity: 1;
}

.timesheet_row{
	background-clip: content-box;
	padding-bottom: 30px;
	margin: 0 auto; 
	max-width: 100%;
}

.timesheet_title{
	font-weight: bold;
}

.col-xs-1{
  border: 1px solid black;
  margin 1px;
}
.col-xs-2{
  border: 1px solid black;
  margin: 1px;
}
.nobd{
  border: 0px !important;
}
.week{
  color: white;
  margin:1ex;
  filter: blur(20px);
  background-color: #757780;
  box-shadow: 5px 5px 15px #000;
  padding: 1ex;
  padding-bottom: 1em;
  border: 2px solid #555760;
  border-radius:5px;
}

.week h4{
	color: white;
}

.space{
  border:none;
  background-color: transparent;
}
