h1
  color: green

#askQuestionButton 
  float: right

#logout_btn:hover
	cursor:pointer

/*LogIn*/
#textForm {
	max-width: 50%;
  margin: auto;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.past_timesheet_container{
	margin: 0 auto; 
	max-width: 80%;
}

.timesheetBtnGroup{
  margin-left: 25px;
}

.timesheetBtnGroup .row{
  margin-bottom: 15px;
}

.timesheet_small_view{
	background-clip: content-box;
	
}

.timesheet_row{
	background-clip: content-box;
	padding-bottom: 30px;
	margin: 0 auto; 
	max-width: 100%;
}

.bold{
  font-weight: bold;
}

.gray .col-md-1{
  background-color:#CCC;
}

.gray .col-md-2{
  background-color:#CCC;
}

.nobd{
  border: 0px !important;
}
.week{
  margin-bottom: 50px;
  backrgound-color: #BBBBCC;
  padding: 1em;
  border: 1px solid #AAA;
}
.space{
  border:none;
  background-color: transparent;
}

.editLink{
  color: #333 !important;
}


.editable-bstime .editable-input i.icon-chevron-up:before {
  content: '\e113';
}
.editable-bstime .editable-input i.icon-chevron-down:before {
  content: '\e114';
}
.editable-bstime .editable-input i.icon-chevron-up,
.editable-bstime .editable-input i.icon-chevron-down {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}