h1
  color: green

#askQuestionButton 
  float: right

#logout_btn:hover
	cursor:pointer

/*LogIn*/
#textForm {
	max-width: 50%;
  	margin: auto;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.past_timesheet_container{
	margin: 0 auto; 
	max-width: 80%;
}

.timesheet_small_view{
	background-clip: content-box;
	
}

.timesheet_row{
	background-clip: content-box;
	padding-bottom: 30px;
	margin: 0 auto; 
	max-width: 100%;
}