h1 {
  color: #008000;
}
#askQuestionButton {
  float: right;
}
#logout_btn:hover {
  cursor: pointer;
}
/*LogIn*/
#textForm {
  max-width: 50%;
  margin: auto;
}
.ng-invalid {
  border-color: #f00;
  outline-color: #f00;
}
.ng-valid {
  border-color: #008000;
  outline-color: #008000;
}
