h1 {
  color: #008000;
}
#askQuestionButton {
  float: right;
}
#logout_btn:hover {
  cursor: pointer;
}
/*LogIn*/
#textForm {
  max-width: 50%;
  margin: auto;
}
.ng-invalid {
  border-color: #f00;
  outline-color: #f00;
}
.ng-valid {
  border-color: #008000;
  outline-color: #008000;
}
.past_timesheet_container {
  margin: 0 auto;
  max-width: 80%;
}
.timesheet_small_view {
  background-clip: content-box;
}
.timesheet_row {
  background-clip: content-box;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 100%;
}
.col-xs-1 {
  background-color: #999;
  border: 1px solid #000;
}
.col-xs-2 {
  background-color: #999;
  border: 1px solid #000;
}
.nobd {
  border: 0px !important;
}
.week {
  width: 40%;
  backrgound-color: #bbc;
  padding: 1em;
  border: 1px solid #aaa;
}
.space {
  border: none;
  background-color: transparent;
}
.dropDownButton {
  border: none;
  background-color: transparent;
  vertical-align: center;
  color: #777;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropDownButton:hover {
  border: none;
  background-color: transparent;
  vertical-align: center;
  color: #777;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.open>.dropDownButton {
  border: none;
  background-color: transparent;
  vertical-align: center;
  color: #777;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-txt {
  padding-top: 0px;
}
