h1 {
  color: #008000;
}
#askQuestionButton {
  float: right;
}
#logout_btn:hover {
  cursor: pointer;
}
/*LogIn*/
#textForm {
  max-width: 50%;
  margin: auto;
}
.ng-invalid {
  border-color: #f00;
  outline-color: #f00;
}
.ng-valid {
  border-color: #008000;
  outline-color: #008000;
}
.past_timesheet_container {
  margin: 0 auto;
  max-width: 80%;
}
.timesheet_small_view {
  background-clip: content-box;
}
.timesheet_row {
  background-clip: content-box;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 100%;
}
