<form ng-submit="createNewTimeSheet(title, week_beginning)">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="name" ng-model="title" required>
    <label>Week Beginning</label>
    <input type="date" ng-model="week_beginning" />
  </div>
  <input class="btn btn-success btn-lg btn-block" type="submit" value="Create New Timesheet">
</form>

<h1>Recent Timesheets</h1>
<ul class='list-group' ng-if='currentUser' >
  <li ng-watch="timesheets" ng-repeat="timesheet in timesheets | orderBy:'-date'" class='list-group-item'>
    <div class="row">
        <div class="col-md-11">
            <a ng-href='/#/timesheet/{{timesheet._id}}'><strong>{{ timesheet.title }}</strong></a>
            <br>
        </div>
    </div>
  </li>
</ul>
