<h1 ng-if='has_current_timesheet'>Current Timesheets</h1>

<input class="form-control" type="text" ng-model="title" placeholder="Title">
<br>
<input class="form-control" type="text" ng-model="department" placeholder="Department">
<br>
<input class="form-control" type="date" ng-model="week_beginning" placeholder="Week Beginning">
<br>
<input class="btn btn-success btn-lg btn-block" type="button" ng-click="createNewTimeSheet(title, week_beginning, department)" value="Create New Timesheet">

<h1>Past Timesheets</h1>
<div class='list-group' ng-if='currentUser' >
  <div ng-watch="timesheets" ng-repeat="timesheet in timesheets | orderBy:'-date'" class="past_timesheet_container">
    <div class="row timesheet_row" ng-if="$even">
          <div class="col-md-4 timesheet_small_view">
            <a ng-href='/#/timesheet/{{timesheets[$index]._id}}'><strong>{{ timesheets[$index].title }}</strong></a>
          </div>
          <div class="col-md-4 timesheet_small_view">
            <a ng-href='/#/timesheet/{{timesheets[$index + 1]._id}}'><strong>{{ timesheets[$index + 1].title }}</strong></a>
          </div>
          <div class="col-md-4 timesheet_small_view">
            <a ng-href='/#/timesheet/{{timesheets[$index + 2]._id}}'><strong>{{ timesheets[$index + 2].title }}</strong></a>
          </div>
          <br>
    </div>
  </div>
</div>
