<h1>{{timesheet.title}} - {{timesheet.week_beginning | date:'yyyy-MM-dd'}}</h1>
<br>
{{timesheet.department}}
<br>

<div class="row">
  <div class="week col-md-6 col-xs-12">
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Day</div>
      <div class="col-xs-1">Date</div>
      <div class="col-xs-1">IN</div>
      <div class="col-xs-1">OUT</div>
      <div class="col-xs-1">IN</div>
      <div class="col-xs-1">OUT</div>
      <div class="col-xs-1">IN</div>
      <div class="col-xs-1">OUT</div>
      <div class="col-xs-1">Total</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Sunday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Monday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Tuesday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Wednesday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Thursday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Friday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Saturday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
  </div>
  <div class="week col-md-6 col-xs-12">
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Day</div>
      <div class="col-xs-1">Date</div>
      <div class="col-xs-1">IN</div>
      <div class="col-xs-1">OUT</div>
      <div class="col-xs-1">IN</div>
      <div class="col-xs-1">OUT</div>
      <div class="col-xs-1">IN</div>
      <div class="col-xs-1">OUT</div>
      <div class="col-xs-1">Total</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Sunday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Monday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Tuesday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Wednesday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Thursday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Friday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
    <div class="row">
      <div class="col-xs-1 space"></div>
      <div class="col-xs-2">Saturday</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
      <div class="col-xs-1">date</div>
    </div>
  </div> 
  </div>
</div>